{% extends 'posts/base.html' %}
{% block title %}
    {% if edit %}
    Редактировать запись
    {% else %}
    Добавить запись
    {% endif %}
{% endblock %}

{% block content %}
{% load user_filters %}

<div class="row justify-content-center">
    <div class="col-md-8 p-5">
        {% if post %}
        <h1>Редактировать запись</h1>
        {% else %}
        <h1>Добавить запись</h1>
        {% endif %}<br>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="col-md-6 offset-md-4">              
                <button type="submit" class="btn btn-primary">
                    {% if edit %}
                    Сохранить
                    {% else %}
                    Добавить
                    {% endif %}
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock %}