{% extends 'posts/base.html' %}
{% load thumbnail %}
{% block title %}Записи пользователя {{ author.get_full_name }}{% endblock %}
{% block header %}{{ author.get_full_name }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-3 mb-3 mt-1">
            <div class="card">
                <div class="card-body">
                    <div class="h2">
                        <!-- Имя автора -->
                        {{ author.get_full_name }}
                    </div>
                    <div class="h3 text-muted">
                        <!-- username автора -->
                        @{{ author.username }}
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="h6 text-muted">
                            Подписчиков: {{ following }} <br />
                            Подписок: {{ follower }}
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="h6 text-muted">
                            <!-- Количество записей -->
                            Записей: {{ page.paginator.count }}
                        </div>
                    </li>
                    {% if user.is_authenticated %}
                        {% if user != author %}
                            <li class="list-group-item">
                                {% if is_following %}
                                    <a  class="btn btn-lg btn-light"
                                        href="{% url 'profile_unfollow' author.username %}" role="button">
                                        Отписаться
                                    </a>
                                {% else %}
                                    <a  class="btn btn-lg btn-primary"
                                        href="{% url 'profile_follow' author.username %}" role="button">
                                        Подписаться
                                    </a>
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="container">
                <!-- Вывод ленты записей -->
                {% for post in page %}
                    {% include 'posts/post_item.html' with post=post %}
                {% endfor %}
                <!-- Вывод паджинатора -->
                {% include 'posts/paginator.html' %}
            </div>
        </div>
    </div>

{% endblock %}